.container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;

    margin-left: 20px;
}
.cart-container{
    background-color:antiquewhite;
    height: 400px;
}